# Importing Libraries and Packages

In [5]:
pip install pandas

Collecting pandas
  Using cached pandas-1.3.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.5 MB)
Collecting numpy>=1.17.3
  Using cached numpy-1.21.3-cp39-cp39-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.21.3 pandas-1.3.4
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

# Loading Datasets

In [7]:
foodexp = pd.read_csv('BWAI Challenge 3 Dataset/foodexp.csv')
foodsimple = pd.read_csv('BWAI Challenge 3 Dataset/foodsimple.csv')
orderItemsDonations = pd.read_csv('BWAI Challenge 3 Dataset/orderItemsDonations.csv')
foodfridge = pd.read_csv('BWAI Challenge 3 Dataset/foodfridge.csv')
orderHeaderDonations = pd.read_csv('BWAI Challenge 3 Dataset/orderHeaderDonations.csv')
orderItemsRequests = pd.read_csv('BWAI Challenge 3 Dataset/orderItemsRequests.csv')
foodshelf = pd.read_csv('BWAI Challenge 3 Dataset/foodshelf.csv')
orderHeaderRequests = pd.read_csv('BWAI Challenge 3 Dataset/orderHeaderRequests.csv')

In [8]:
foodexp['TABLE'] = 'foodexp'

In [9]:
foodsimple['TABLE'] = 'foodsimple'

In [10]:
foodfridge['TABLE'] = 'foodfridge'

In [11]:
foodshelf['TABLE'] = 'foodshelf'

# Concatation

In [12]:
food = pd.concat([foodexp, foodsimple, foodfridge, foodshelf])

In [13]:
food

,TYPE,ITEM,PERIOD,DETAILS,STORAGE,TABLE
0,BEVERAGES,"Juice in cartons, fruit drinks, punch",3 weeks,unopened,REFRIGERATED,foodexp
1,BEVERAGES,"Juice in cartons, fruit drinks, punch",7-10 days,opened,REFRIGERATED,foodexp
2,BEVERAGES,"Juice in cartons, fruit drinks, punch",8-12 months,NaN,FROZEN,foodexp
3,DIARY,Butter,1-3 months,NaN,REFRIGERATED,foodexp
4,DIARY,Butter,6-9 months,NaN,FROZEN,foodexp
...,...,...,...,...,...,...
223,BAKERY,"Pies, pumpkin",2 hours,NaN,SHELF,foodshelf
224,BAKERY,Quiche,2 hours,NaN,SHELF,foodshelf
225,BAKERY,"Rolls, yeast, baked",3-4 days,NaN,SHELF,foodshelf
226,BAKERY,"Rolls, yeast, partially baked",Package date,NaN,SHELF,foodshelf
227,BAKERY,"Rolls, filled, meat or vegetables",2 hours,NaN,SHELF,foodshelf

In [14]:
orderItemsDonations

,OrderId,OrderItemId,ProductType,ProductItem,ProductPeriod,ProductDetails,ProductStorage,Quantity
0,20051,1,DIARY,"Cheese, processed slices",1-2 months,NaN,REFRIGERATED,105
1,20051,2,DIARY,"Eggs, in shell",3-5 weeks,NaN,REFRIGERATED,120
2,20051,3,DIARY,Margarine,12 months,NaN,FROZEN,140
3,20051,4,DIARY,"Milk, plain or flavored",1 week,NaN,REFRIGERATED,135
4,20051,5,SOY,Tofu,1 week,NaN,REFRIGERATED,145
...,...,...,...,...,...,...,...,...
9215,20139,35,SHELLFISH,"Shucked clams, mussels and oysters",3-4 months,NaN,FROZEN,150
9216,20139,36,SHELF_ITEM,"Milk, canned evaporated",4-5 days,opened,REFRIGERATED,168
9217,20139,37,PESTO,Pesto or Sala,package date,unopened,REFRIGERATED,120
9218,20139,38,BAKERY,"Rolls, yeast, baked",1 week,NaN,REFRIGERATED,168
9219,20139,39,PROCESSED_MEAT,"Lunch meats, after opening",3-5 days,NaN,REFRIGERATED,168

In [15]:
orderHeaderDonations

,OrderId,PartnerId,OrderTotal,OrderDate,PartnerName,PartnerGeoLat,PartnerGeoLon
0,20051,190050,2000,2021-01-11,FoodieLand,-27.49079,153.06799
1,20052,190050,2000,2021-01-12,FoodieLand,-27.49079,153.06799
2,20053,190050,2000,2021-01-13,FoodieLand,-27.49079,153.06799
3,20054,190050,2000,2021-01-14,FoodieLand,-27.49079,153.06799
4,20055,190050,2000,2021-01-15,FoodieLand,-27.49079,153.06799
...,...,...,...,...,...,...,...
262,20135,190052,2000,2021-04-05,Grocertown,-27.54099,153.04839
263,20136,190052,2000,2021-04-06,Grocertown,-27.54099,153.04839
264,20137,190052,2000,2021-04-07,Grocertown,-27.54099,153.04839
265,20138,190052,2000,2021-04-08,Grocertown,-27.54099,153.04839
266,20139,190052,2000,2021-04-09,Grocertown,-27.54099,153.04839

In [16]:
orderItemsRequests

,OrderId,OrderItemId,ProductType,ProductItem,ProductPeriod,ProductDetails,ProductStorage
0,50050,1,DIARY,"Eggs, in shell",NaN,Do not freeze,FROZEN
1,50050,2,SHELF_ITEM,"Tea, bags",18 months,unopened,SHELF
2,50050,3,BAKERY,"Pies, mincemeat",8 months,NaN,FROZEN
3,50050,4,SHELF_ITEM,"Marshmallows, marshmallow creme",2-4 months,unopened,SHELF
4,50050,5,BAKERY,"Doughnuts, glazed or cake",1 week,G,REFRIGERATED
...,...,...,...,...,...,...,...
5739,50068,9,BAKING,"Flour, whole wheat",6-8 months,opened,REFRIGERATED
5740,50068,10,VEGETABLES,Cauliflower,3-5 days,NaN,REFRIGERATED
5741,50068,11,PROCESSED_POULTRY,"Lunch meats, after opening",3-5 days,NaN,REFRIGERATED
5742,50068,12,SOY,"Soy or rice beverage, Re-hydrated TSP",3-4 months,unopened,SHELF
5743,50068,13,PROCESSED_MEAT,"Sausage, raw, bulk type",1-2 months,NaN,FROZEN

In [17]:
orderHeaderRequests

,OrderId,CustomerId,OrderTotal,OrderDate,Location,CustomerName,CustomerGeoLat,CustomerGeoLon
0,50050,90050,200,2021-01-10,AGA North,Mark Burton,-27.54249,153.09159
1,50051,90050,200,2021-01-20,AGA North,Mark Burton,-27.54249,153.09159
2,50052,90050,200,2021-01-25,AGA North,Mark Burton,-27.54249,153.09159
3,50053,90050,200,2021-01-30,AGA North,Mark Burton,-27.54249,153.09159
4,50054,90050,200,2021-02-06,AGA North,Mark Burton,-27.54249,153.09159
...,...,...,...,...,...,...,...,...
387,50064,90069,200,2021-03-09,AGA South,Elizabeth Holt,-27.42669,153.01789
388,50065,90069,200,2021-03-13,AGA South,Elizabeth Holt,-27.42669,153.01789
389,50066,90069,200,2021-03-17,AGA South,Elizabeth Holt,-27.42669,153.01789
390,50067,90069,200,2021-03-19,AGA South,Elizabeth Holt,-27.42669,153.01789
391,50068,90069,200,2021-03-24,AGA South,Elizabeth Holt,-27.42669,153.01789

# Top Order Requests by ProductType

In [23]:
orderItemsRequests.groupby('ProductType').count()['OrderId']

ProductType
BAKERY                569
BAKING                235
BEVERAGES              20
CONDIMENTS            197
COOKIES                35
CRACKERS               34
DELI_ITEM             261
DIARY                 483
DOUGH                  69
FISH                  127
FRESH_MEAT             67
FRESH_POULTRY          76
FROZEN_ITEM           348
FRUIT                 358
PASTA                  23
PESTO                  30
PROCESSED_MEAT        206
PROCESSED_POULTRY     142
SHELF_ITEM           1469
SHELLFISH             162
SMOKEDFISH             53
SOY                   129
VEGETABLES            651
Name: OrderId, dtype: int64

In [24]:
orderItemsRequests.groupby('ProductItem').count()['OrderId']

ProductItem
Aerosol can, nondairy topping      16
Aerosol can, real whipped cream    16
Apples                             35
Apricots                           31
Artichokes, whole                  23
                                   ..
Water, bottled                     10
Whipped, sweetened                 14
Worcestershire Sauce               21
Yeast, dry, packets and jars       13
Yogurt                             17
Name: OrderId, Length: 300, dtype: int64

In [34]:
df_merged_donations = orderItemsDonations.merge(orderHeaderDonations,on='OrderId')
df_merged_donations

,OrderId,OrderItemId,ProductType,ProductItem,ProductPeriod,ProductDetails,ProductStorage,Quantity,PartnerId,OrderTotal,OrderDate,PartnerName,PartnerGeoLat,PartnerGeoLon
0,20051,1,DIARY,"Cheese, processed slices",1-2 months,NaN,REFRIGERATED,105,190050,2000,2021-01-11,FoodieLand,-27.49079,153.06799
1,20051,1,DIARY,"Cheese, processed slices",1-2 months,NaN,REFRIGERATED,105,190051,2000,2021-01-11,LoMarket,-27.53899,153.07429
2,20051,1,DIARY,"Cheese, processed slices",1-2 months,NaN,REFRIGERATED,105,190052,2000,2021-01-11,Grocertown,-27.54099,153.04839
3,20051,2,DIARY,"Eggs, in shell",3-5 weeks,NaN,REFRIGERATED,120,190050,2000,2021-01-11,FoodieLand,-27.49079,153.06799
4,20051,2,DIARY,"Eggs, in shell",3-5 weeks,NaN,REFRIGERATED,120,190051,2000,2021-01-11,LoMarket,-27.53899,153.07429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27655,20139,38,BAKERY,"Rolls, yeast, baked",1 week,NaN,REFRIGERATED,168,190051,2000,2021-04-09,LoMarket,-27.53899,153.07429
27656,20139,38,BAKERY,"Rolls, yeast, baked",1 week,NaN,REFRIGERATED,168,190052,2000,2021-04-09,Grocertown,-27.54099,153.04839
27657,20139,39,PROCESSED_MEAT,"Lunch meats, after opening",3-5 days,NaN,REFRIGERATED,168,190050,2000,2021-04-09,FoodieLand,-27.49079,153.06799
27658,20139,39,PROCESSED_MEAT,"Lunch meats, after opening",3-5 days,NaN,REFRIGERATED,168,190051,2000,2021-04-09,LoMarket,-27.53899,153.07429
27659,20139,39,PROCESSED_MEAT,"Lunch meats, after opening",3-5 days,NaN,REFRIGERATED,168,190052,2000,2021-04-09,Grocertown,-27.54099,153.04839

In [27]:
df_merged_requests = orderItemsRequests.merge(orderHeaderRequests,on='OrderId')
df_merged_requests

,OrderId,OrderItemId,ProductType,ProductItem,ProductPeriod,ProductDetails,ProductStorage,CustomerId,OrderTotal,OrderDate,Location,CustomerName,CustomerGeoLat,CustomerGeoLon
0,50050,1,DIARY,"Eggs, in shell",NaN,Do not freeze,FROZEN,90050,200,2021-01-10,AGA North,Mark Burton,-27.54249,153.09159
1,50050,1,DIARY,"Eggs, in shell",NaN,Do not freeze,FROZEN,90051,200,2021-01-10,AGA East,Matthew Melendez,-27.41269,153.07349
2,50050,1,DIARY,"Eggs, in shell",NaN,Do not freeze,FROZEN,90052,200,2021-01-14,AGA South,Steven Hicks,-27.53449,153.01259
3,50050,1,DIARY,"Eggs, in shell",NaN,Do not freeze,FROZEN,90053,200,2021-01-10,AGA West,Joseph Smith,-27.47359,153.03659
4,50050,1,DIARY,"Eggs, in shell",NaN,Do not freeze,FROZEN,90054,200,2021-01-10,AGA North,Amanda Rodriguez,-27.45979,152.97019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97470,50077,14,SHELF_ITEM,"Soda such as carbonated cola drinks, mixers: d...",2-3 days,opened,REFRIGERATED,90060,200,2021-04-02,AGA HQ,Curtis White,-27.42379,153.09029
97471,50077,15,VEGETABLES,"Parsley, cilantro",1-2 months,NaN,FROZEN,90060,200,2021-04-02,AGA HQ,Curtis White,-27.42379,153.09029
97472,50077,16,DIARY,"Eggnog, commercial",3-5 days,NaN,REFRIGERATED,90060,200,2021-04-02,AGA HQ,Curtis White,-27.42379,153.09029
97473,50077,17,DIARY,Margarine,12 months,NaN,FROZEN,90060,200,2021-04-02,AGA HQ,Curtis White,-27.42379,153.09029
97474,50077,18,SHELF_ITEM,"Soda such as carbonated cola drinks, mixers: r...",9 mos. after date,unopened,SHELF,90060,200,2021-04-02,AGA HQ,Curtis White,-27.42379,153.09029

# merge header requests with item requests on OrderId

# Delta - Wastage